$primaryBtn: purple;
$textColor : #444;

@mixin flexCenter {
  display        : flex;
  justify-content: center;
  align-items    : center;
}

header {
  @include flexCenter();

  background: lightblue;
  height    : 100vh;
  color     : $textColor;

  button {
    height    : 50px;
    background: $primaryBtn;

    &::after {
      content: "helloooooo";
    }
  }

  p {
    font-size: 2rem;
    color    : $textColor;
  }
}


.contact {
  background: #000;

  button {
    background: $textColor;
  }

  .info {
    background: gray;

    p {
      transition: all 0.3s;
      transform : scale(1.2);
    }
  }
}